# пример файла с переменными окружения (.env)

# django
DJANGO_SUPERUSER_PASSWORD=mysecretpassword
DJANGO_SECRET_KEY=testsecretkey
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost
DJANGO_DEBUG=True

# postgres
POSTGRES_DB=b2b-marketplace
POSTGRES_USER=b2b-marketplace
POSTGRES_PASSWORD=mypassword
POSTGRES_HOST=db
POSTGRES_PORT=5432

# postgres test
POSTGRES_DB_TEST=b2b-marketplace-test
POSTGRES_USER_TEST=b2b-marketplace-test
POSTGRES_PASSWORD_TEST=mypassword-test
POSTGRES_HOST_TEST=localhost
POSTGRES_PORT_TEST=6100
